body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2{
	font-family: 'Lato', sans-serif;
}

header{
	background-color: rebeccapurple;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color:  whitesmoke;
	font-size: 50px;
}

header img{
	width: 300px;
	border: 20px solid lightslategrey;
}

main{
	max-width: 800px;
}